@import url("../common/FormikInputField/FormikInputField.css");
@import url("../common/FormikSelectField/FormikSelectField.css");
@import url("../common/SubmitButton/SubmitButton.css");
@import url("../pages/auth/components/AuthPage.css");

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#06b602, #0000);
  background-color: black;
  background-repeat: space;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
